<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <style>
    #clock {
        width: 300px;
        height: 100px;
        background-color: black;
        border-radius: 5px;
        color:white;
        font-size: 50;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Contrail-One";

    }
  </style>
   <body>
    <h1> Digital Clock with Moment.js</h1>
    <div id='clock'>8:23 pm</div>
    <script src="/node_modules/moment/moment.js">
    console.log(moment());
    

    </script>

  <script> 
     const clock = document.getElementById('clock');

    setInterval(() => {
      const now = moment();
      const humanReadable = now.format('hh:mm:ss A');
  
      clock.textContent = humanReadable;
  }, 1000);
  </script> 
</body>
</html>


<router-outlet></router-outlet>